@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin text($color) {
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;
    color: $color;
}