*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

@import 'mixins.scss';
@import 'variables.scss';
.wrapper {
    margin: 0 auto;
    max-width: 1392px;
    width: 100%;
    height: 100%;
    background: url(../img/Main-bg.jpg) no-repeat;
    background-size: cover;
    box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.container {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 24px;
}

header {
    background: #fff;
    .header-content {
        padding: 16px 32px;
        position: relative;
        @include flex($justify: space-between);
        .header-content__left {
            display: flex;
            .hamburger-menu {
                display: none;
                #menu__toggle {
                    opacity: 0;
                    &:checked~.menu__btn>span {
                        transform: rotate(45deg);
                        width: 20px;
                    }
                    &:checked~.menu__btn>span::before {
                        top: 0;
                        transform: rotate(0);
                        display: none;
                    }
                    &:checked~.menu__btn>span::after {
                        top: 0;
                        transform: rotate(90deg);
                        width: 20px;
                    }
                    &:checked~.menu__box {
                        visibility: visible;
                        left: 0;
                    }
                }
                .menu__btn {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    bottom: 22px;
                    width: 14px;
                    height: 35px;
                    cursor: pointer;
                    z-index: 1000;
                    &>span,
                    &>span::before,
                    &>span::after {
                        display: block;
                        position: absolute;
                        border-radius: 10px;
                        width: 100%;
                        height: 2px;
                        background-color: $blue;
                        transition-duration: .25s;
                    }
                    &>span::before {
                        content: '';
                        top: -8px;
                        width: 20px;
                    }
                    &>span::after {
                        content: '';
                        top: 8px;
                        width: 14px;
                    }
                }
                .menu__box {
                    z-index: 100;
                    display: block;
                    position: fixed;
                    visibility: hidden;
                    top: 80px;
                    left: -100%;
                    width: 100%;
                    height: 100vh;
                    margin: 0;
                    padding: 80px 56px;
                    list-style: none;
                    background: rgba(255, 255, 255, 1);
                    transition-duration: .25s;
                    li {
                        margin-bottom: 24px;
                        &:first-child {
                            margin-bottom: 40px;
                        }
                        &:first-child a {
                            font-size: 24px;
                            font-weight: 500;
                            color: $coltext;
                        }
                        .menu__item {
                            display: block;
                            @include heading(56px);
                            text-decoration: none;
                            transition-duration: .25s;
                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .logo {
                a {
                    @include text(#4754EB);
                    font-weight: 500;
                }
            }
        }
        .nav__items {
            .nav__list {
                @include flex();
                li {
                    margin-right: 24px;
                    a {
                        @include text($coltext);
                    }
                }
            }
        }
        .header__user {
            display: flex;
            button {
                @include button-reset($blue);
                @include text(#fff);
            }
            .user-icon {
                display: none;
                a {
                    background: $blue;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    img {
                        margin: auto;
                        height: 18px;
                        width: 16px;
                    }
                }
            }
        }
    }
}

.offer {
    .offer-content {
        @include flex(space-between);
        padding: 80px 32px 138px;
        position: relative;
        .offer__data {
            flex-basis: 500px;
            h1 {
                @include heading(56px);
                display: inline;
            }
            form {
                margin-top: 40px;
                position: relative;
                display: inline-block;
                max-width: 465px;
                width: 100%;
                input {
                    @include input-reset();
                    padding: 20px 16px;
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 16px;
                    width: 100%;
                    @include text($coltext);
                }
                button {
                    @include button-reset(#fff);
                    position: absolute;
                    @include text($blue);
                    font-weight: 500;
                    top: 8px;
                    right: 8px;
                }
            }
            p {
                @include text(#595959);
                font-size: 12px;
                margin-top: 16px;
                display: inline-block;
                a {
                    color: $blue;
                }
            }
        }
        .offer__pic {
            width: 50%;
            img {
                // max-width: 628px;
                width: 100%;
            }
        }
        .btn__next {
            position: absolute;
            bottom: 80px;
            left: 63px;
            p {
                @include text(#fff);
                font-size: 16px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    background: url(../img/Wheeldown.svg);
                    background-repeat: no-repeat;
                    height: 32px;
                    width: 24px;
                    top: -6px;
                    left: -32px;
                }
            }
        }
    }
}

.advantage {
    background: #fff;
    .advantage-content {
        padding: 80px 0;
        h3 {
            @include heading(36px);
            margin-left: 32px;
        }
        .advantage__content {
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            .advantage__item {
                background: #FAFAFA;
                box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.3);
                border-radius: 24px;
                .item-head {
                    @include flex(start);
                    border-radius: 24px 24px 0 0;
                    padding: 8px 24px;
                    background: rgba(255, 255, 255, 0.5);
                    p {
                        margin-left: 12px;
                        @include text(24px);
                        font-weight: 500;
                    }
                }
                .item-body {
                    padding: 16px 24px 24px 24px;
                    p {
                        @include text($coltext);
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.info-work {
    .info-work-content {
        padding: 80px 32px;
        h3 {
            @include heading(36px);
        }
        .info-work__content {
            margin-top: 40px;
            @include flex(start);
            gap: 24px;
            .info-work__image {
                width: 49%;
                img {
                    width: 100%;
                }
            }
            .info-work__block {
                flex-basis: 470px;
                .block__item {
                    display: flex;
                    p {
                        @include text(18px);
                        position: relative;
                        &:not(:last-child) {
                            margin-right: 56px;
                        }
                        &:first-child {
                            color: $blue;
                            font-weight: 500;
                        }
                        &:not(:last-child)::after {
                            position: absolute;
                            content: '';
                            width: 24px;
                            height: 1px;
                            background: #fff;
                            top: 12px;
                            left: 120px;
                        }
                    }
                }
                h4 {
                    @include heading(36px);
                    margin-top: 30px;
                }
                .item-body {
                    p {
                        @include text($coltext);
                        margin-top: 16px;
                        &:first-child {
                            color: $blue;
                            font-weight: 500;
                            margin-bottom: 24px;
                        }
                    }
                }
            }
            button {
                @include button-reset($blue);
                font-size: 18px;
                @include text(#fff);
                margin-top: 56px;
            }
        }
    }
}

.tarrifs {
    background: #fff;
    .tarrifs__content {
        padding: 80px 0;
        h3 {
            @include heading(36px);
            margin-left: 32px;
        }
        .tarrifs__info {
            display: grid;
            grid-template-columns: repeat(auto-fit, 324px);
            grid-gap: 16px;
            justify-content: start;
            margin-top: 40px;
            .tarrifs-item {
                background: #FAFAFA;
                box-shadow: 0px 0px 8px 1px rgba(128, 128, 128, 0.3);
                border-radius: 24px;
                .item-head {
                    padding: 20px 24px;
                    border-radius: 24px 24px 0 0;
                    background: rgba(255, 255, 255, 0.5);
                    p {
                        @include text($coltext);
                        font-weight: 500;
                        font-size: 24px;
                        &:first-child {
                            color: $black;
                        }
                        span {
                            color: $blue;
                        }
                    }
                }
                .item-body {
                    padding: 24px 22px 0 72px;
                    p {
                        @include text($coltext);
                        font-size: 18px;
                        &:not(:last-child) {
                            margin-bottom: 16px;
                        }
                    }
                }
                .item-footer {
                    padding: 24px 34px;
                    border-radius: 0 0 24px 24px;
                    button {
                        @include button-reset(#fff);
                        padding: 16px 57.5px;
                        color: $blue;
                    }
                }
                .img-one {
                    p {
                        position: relative;
                        &:first-child:before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(2)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(3)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(4)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                    }
                }
                .img-two {
                    p {
                        position: relative;
                        &:first-child:before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(2)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(3)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(4)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                    }
                }
                .img-three {
                    p {
                        position: relative;
                        &:first-child:before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(2)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(3)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(4)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/uncheck.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                    }
                }
                .img-four {
                    p {
                        position: relative;
                        &:first-child:before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(2)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(3)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                        &:nth-child(4)::before {
                            content: '';
                            position: absolute;
                            background: url(../img/check.svg) center center no-repeat;
                            width: 32px;
                            height: 32px;
                            left: -48px;
                            top: -1px;
                        }
                    }
                }
            }
        }
    }
}

.reviews {
    .reviews-content {
        padding: 80px 32px;
        // position: relative;
        overflow: hidden;
        h3 {
            @include heading(36px);
        }
        .reviews-items {
            margin-top: 40px;
            @include flex(space-between);
            .reviews-item {
                background: rgba(255, 255, 255, 0.5);
                box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
                border-radius: 16px;
                width: 628px;
                max-width: 100%;
                min-width: 343px;
                margin-bottom: 24px;
                position: relative;
                .head-item {
                    background: rgba(255, 255, 255, 0.5);
                    border-radius: 16px 16px 0px 0px;
                    @include flex(space-between);
                    padding: 16px 25px 16px 16px;
                    .head-left {
                        @include flex;
                        img {
                            border-radius: 50%;
                            margin-right: 16px;
                        }
                        p {
                            @include heading(24px);
                        }
                    }
                    .head-right {
                        p {
                            @include text($coltext);
                        }
                    }
                }
                .item-body {
                    padding: 16px 24px;
                    p {
                        @include text($coltext);
                    }
                }
                .item-footer {
                    padding: 0 0 16px 24px;
                }
            }
            .remove-one {
                top: 20%;
                left: 10%;
            }
            .remove-two {
                top: -15%;
                left: -35%;
            }
            .remove-three {
                top: 30%;
                left: 35%;
            }
            .remove-four {
                top: -10%;
                left: -45%;
            }
        }
        .classtrue {
            top: 0 !important;
            left: 0 !important;
        }
        .btn {
            text-align: right;
            button {
                @include button-reset(#fff);
                color: $blue;
                padding: 16px 24px;
            }
        }
    }
}

.sale {
    background: #fff;
    .sale-content {
        @include flex(start);
        padding: 60px 32px 60px;
        position: relative;
        .sale__data {
            flex-basis: 500px;
            h4 {
                @include heading(56px);
                display: inline;
            }
            form {
                margin-top: 40px;
                position: relative;
                display: inline-block;
                max-width: 465px;
                width: 100%;
                input {
                    @include input-reset();
                    padding: 20px 16px;
                    background: #F2F2F2;
                    border-radius: 16px;
                    width: 100%;
                    @include text($coltext);
                }
                button {
                    @include button-reset($blue);
                    position: absolute;
                    @include text(#fff);
                    font-weight: 500;
                    top: 8px;
                    right: 8px;
                }
            }
            p {
                @include text(#595959);
                font-size: 12px;
                margin-top: 16px;
                display: inline-block;
                a {
                    color: $blue;
                }
            }
        }
        .sale__pic {
            width: 50%;
            img {
                max-width: 628px;
                width: 100%;
            }
        }
    }
}

.questions {
    .questions-content {
        padding: 80px 0;
        h3 {
            @include heading(36px);
            margin-left: 32px;
        }
        .questions-accordion {
            margin-top: 40px;
            .accordion {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 16px;
                box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
                cursor: pointer;
                padding: 28px 32px;
                width: 100%;
                border: none;
                outline: none;
                transition: 0.1s;
                display: flex;
                justify-content: space-between;
                button {
                    @include button-reset(none);
                    @include heading(36px);
                    padding: 0;
                }
                .active,
                &:hover {
                    background: rgba(255, 255, 255, 0.7);
                }
                &::after {
                    content: '';
                    background: url(../img/close.svg) center center no-repeat;
                    width: 48px;
                    height: 48px;
                    transition: 0.2s ease-in;
                }
            }
            .active:after {
                transform: rotateZ(45deg);
            }
            .active {
                border-radius: 16px 16px 0 0;
            }
            .panel {
                background: rgba(255, 255, 255, 0.3);
                border-radius: 0 0 16px 16px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                margin-bottom: 16px;
                padding: 0 24px;
                p {
                    @include text($coltext);
                    margin: 15px;
                }
            }
        }
    }
}

.feedback {
    background: #fff;
    .feedback-content {
        @include flex(space-around);
        padding: 80px 32px;
        .feedback-form {
            flex-basis: 465px;
            h3 {
                @include heading(36px);
                margin-bottom: 16px;
                display: inline-block
            }
            p {
                @include text($coltext);
            }
            form {
                margin-top: 8px;
                position: relative;
                flex-direction: column;
                input {
                    @include input-reset();
                    padding: 20px 16px;
                    background: #F2F2F2;
                    border-radius: 16px;
                    width: 465px;
                    @include text($coltext);
                    margin-top: 16px;
                }
            }
            .form-footer {
                @include flex(space-between);
                margin-top: 40px;
                button {
                    @include button-reset($blue);
                    @include text(#fff);
                    font-weight: 500;
                }
                p {
                    @include text(#595959);
                    font-size: 12px;
                    display: inline-block;
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }
}

.footer {
    background: $blue;
    .footer-content {
        padding: 24px 32px;
        @include flex(space-between);
        .content-left {
            p {
                &:first-child {
                    @include text(#fff);
                }
                &:last-child {
                    @include text(#D9D9D9);
                    font-size: 16px;
                    margin-top: 6px;
                }
            }
        }
        .content-right {
            a {
                display: flex;
                p {
                    @include text(#fff);
                    margin-right: 8px;
                }
            }
        }
    }
}