*,
body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1392px;
  width: 100%;
  height: 100%;
  background: url(../img/Main-bg.jpg) no-repeat;
  background-size: cover;
  -webkit-box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
}

header {
  background: #fff;
}
header .header-content {
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header-content .logo a {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #4754EB;
  font-weight: 500;
}
header .header-content .nav__items .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header-content .nav__items .nav__list li {
  margin-right: 24px;
}
header .header-content .nav__items .nav__list li a {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
header .header-content .switchlan p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
header .header-content .switchlan p span {
  color: #4754EB;
  font-weight: 500;
}
header .header-content button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
}

.offer .offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 32px 138px;
  position: relative;
}
.offer .offer-content .offer__data {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
.offer .offer-content .offer__data h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  color: #1A1A1A;
  display: inline;
}
.offer .offer-content .offer__data form {
  margin-top: 40px;
  position: relative;
  display: inline-block;
}
.offer .offer-content .offer__data form input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  padding: 20px 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 465px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.offer .offer-content .offer__data form button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  position: absolute;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #4754EB;
  font-weight: 500;
  top: 8px;
  right: 8px;
}
.offer .offer-content .offer__data p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #595959;
  font-size: 12px;
  margin-top: 16px;
  display: inline-block;
}
.offer .offer-content .offer__data p a {
  color: #4754EB;
}
.offer .offer-content .offer__pic {
  width: 50%;
}
.offer .offer-content .offer__pic img {
  width: 100%;
}
.offer .offer-content .btn__next {
  position: absolute;
  bottom: 80px;
  left: 63px;
}
.offer .offer-content .btn__next p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  position: relative;
}
.offer .offer-content .btn__next p::before {
  content: "";
  position: absolute;
  background: url(../img/Wheeldown.svg);
  background-repeat: no-repeat;
  height: 32px;
  width: 24px;
  top: -6px;
  left: -32px;
}

.advantage {
  background: #fff;
}
.advantage .advantage-content {
  padding: 80px 0;
}
.advantage .advantage-content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 32px;
}
.advantage .advantage-content .advantage__content {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.advantage .advantage-content .advantage__content .advantage__item {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  border-radius: 24px;
  border: 1px solid;
  border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.advantage .advantage-content .advantage__content .advantage__item .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
}
.advantage .advantage-content .advantage__content .advantage__item .item-head p {
  margin-left: 12px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: 24px;
  font-weight: 500;
}
.advantage .advantage-content .advantage__content .advantage__item .item-body {
  padding: 16px 24px 24px 24px;
}
.advantage .advantage-content .advantage__content .advantage__item .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-size: 18px;
}

.info-work .info-work-content {
  padding: 80px 32px;
}
.info-work .info-work-content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
}
.info-work .info-work-content .info-work__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.info-work .info-work-content .info-work__content .info-work__image {
  width: 49%;
}
.info-work .info-work-content .info-work__content .info-work__image img {
  width: 100%;
}
.info-work .info-work-content .info-work__content .info-work__block {
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
}
.info-work .info-work-content .info-work__content .info-work__block .block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-work .info-work-content .info-work__content .info-work__block .block__item p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: 18px;
  position: relative;
}
.info-work .info-work-content .info-work__content .info-work__block .block__item p:not(:last-child) {
  margin-right: 56px;
}
.info-work .info-work-content .info-work__content .info-work__block .block__item p:first-child {
  color: #4754EB;
  font-weight: 500;
}
.info-work .info-work-content .info-work__content .info-work__block .block__item p:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  background: #fff;
  top: 12px;
  left: 120px;
}
.info-work .info-work-content .info-work__content .info-work__block h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-top: 30px;
}
.info-work .info-work-content .info-work__content .info-work__block .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  margin-top: 16px;
}
.info-work .info-work-content .info-work__content .info-work__block .item-body p:first-child {
  color: #4754EB;
  font-weight: 500;
  margin-bottom: 24px;
}
.info-work .info-work-content .info-work__content button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  margin-top: 56px;
}

.tarrifs {
  background: #fff;
}
.tarrifs .tarrifs__content {
  padding: 80px 0;
}
.tarrifs .tarrifs__content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 32px;
}
.tarrifs .tarrifs__content .tarrifs__info {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 324px);
  grid-gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 40px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  border-radius: 24px;
  border: 1px solid;
  border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head {
  padding: 20px 24px;
  background: rgba(255, 255, 255, 0.5);
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-weight: 500;
  font-size: 24px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p:first-child {
  color: #1A1A1A;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p span {
  color: #4754EB;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body {
  padding: 24px 22px 0 72px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-size: 18px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body p:not(:last-child) {
  margin-bottom: 16px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-footer {
  padding: 24px 34px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-footer button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  padding: 16px 57.5px;
  color: #4754EB;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}

.reviews .reviews-content {
  padding: 80px 32px;
  position: relative;
}
.reviews .reviews-content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
}
.reviews .reviews-content .reviews-items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews .reviews-content .reviews-items .reviews-item {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
          box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
  border-radius: 16px;
  width: 628px;
  max-width: 100%;
  min-width: 343px;
  margin-bottom: 24px;
  position: relative;
}
.reviews .reviews-content .reviews-items .reviews-item .head-item {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 25px 16px 16px;
}
.reviews .reviews-content .reviews-items .reviews-item .head-item .head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews .reviews-content .reviews-items .reviews-item .head-item .head-left img {
  border-radius: 50%;
  margin-right: 16px;
}
.reviews .reviews-content .reviews-items .reviews-item .head-item .head-left p {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #1A1A1A;
}
.reviews .reviews-content .reviews-items .reviews-item .head-item .head-right p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.reviews .reviews-content .reviews-items .reviews-item .item-body {
  padding: 16px 24px;
}
.reviews .reviews-content .reviews-items .reviews-item .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.reviews .reviews-content .reviews-items .reviews-item .item-footer {
  padding: 0 0 16px 24px;
}
.reviews .reviews-content .reviews-items .remove-one {
  top: 150px;
  left: 350px;
}
.reviews .reviews-content .reviews-items .remove-two {
  top: -150px;
  left: -350px;
}
.reviews .reviews-content .reviews-items .remove-three {
  top: -200px;
  left: 550px;
}
.reviews .reviews-content .reviews-items .remove-four {
  top: -100px;
  left: -450px;
}
.reviews .reviews-content .classtrue {
  top: 0 !important;
  left: 0 !important;
}
.reviews .reviews-content .btn {
  text-align: right;
}
.reviews .reviews-content .btn button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  color: #4754EB;
  padding: 16px 24px;
}

.sale {
  background: #fff;
}
.sale .sale-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 60px;
  position: relative;
}
.sale .sale-content .sale__data {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
.sale .sale-content .sale__data h3 {
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  color: #1A1A1A;
  display: inline;
}
.sale .sale-content .sale__data form {
  margin-top: 40px;
  position: relative;
  display: inline-block;
}
.sale .sale-content .sale__data form input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  padding: 20px 16px;
  background: #F2F2F2;
  border-radius: 16px;
  width: 465px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.sale .sale-content .sale__data form button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  position: absolute;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  font-weight: 500;
  top: 8px;
  right: 8px;
}
.sale .sale-content .sale__data p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #595959;
  font-size: 12px;
  margin-top: 16px;
  display: inline-block;
}
.sale .sale-content .sale__data p a {
  color: #4754EB;
}
.sale .sale-content .sale__pic {
  width: 50%;
}
.sale .sale-content .sale__pic img {
  max-width: 628px;
  width: 100%;
}

.questions .questions-content {
  padding: 80px 0;
}
.questions .questions-content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 32px;
}
.questions .questions-content .questions-accordion {
  margin-top: 40px;
}
.questions .questions-content .questions-accordion .accordion {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  -webkit-box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
          box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
  cursor: pointer;
  padding: 28px 32px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questions .questions-content .questions-accordion .accordion button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: none;
  border-radius: 16px;
  font-weight: 500;
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  padding: 0;
}
.questions .questions-content .questions-accordion .accordion .active, .questions .questions-content .questions-accordion .accordion:hover {
  background: rgba(255, 255, 255, 0.7);
}
.questions .questions-content .questions-accordion .panel {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-bottom: 16px;
  padding: 0 24px;
}
.questions .questions-content .questions-accordion .panel p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  margin: 15px;
}

.feedback {
  background: #fff;
}
.feedback .feedback-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 32px;
}
.feedback .feedback-content .feedback-form h3 {
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  color: #1A1A1A;
  margin-bottom: 16px;
}
.feedback .feedback-content .feedback-form p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.feedback .feedback-content .feedback-form form {
  margin-top: 8px;
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feedback .feedback-content .feedback-form form input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  padding: 20px 16px;
  background: #F2F2F2;
  border-radius: 16px;
  width: 465px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  margin-top: 16px;
}
.feedback .feedback-content .feedback-form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
.feedback .feedback-content .feedback-form .form-footer button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  font-weight: 500;
}
.feedback .feedback-content .feedback-form .form-footer p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #595959;
  font-size: 12px;
  display: inline-block;
}
.feedback .feedback-content .feedback-form .form-footer p a {
  color: #4754EB;
}

.footer {
  background: #4754EB;
}
.footer .footer-content {
  padding: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .footer-content .content-left p:first-child {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
}
.footer .footer-content .content-left p:last-child {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #D9D9D9;
  font-size: 16px;
  margin-top: 6px;
}
.footer .footer-content .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-content .content-right p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  margin-right: 8px;
}