*,
body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1392px;
  height: 6000px;
  background: url(../img/Main-bg.jpg) no-repeat;
  background-size: cover;
  -webkit-box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

.container {
  max-width: 1344px;
  margin: 0 auto;
}

header {
  background: #fff;
  padding: 16px 32px;
}
header .logo a {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #4754EB;
  font-weight: 500;
}
header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .nav .nav__menu .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .nav .nav__menu .nav__list li {
  margin-right: 24px;
}
header .nav .nav__menu .nav__list li a {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
header .nav .switchlan p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
header .nav .switchlan p span {
  color: #4754EB;
  font-weight: 500;
}
header .nav button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 31px 138px;
  position: relative;
}
.offer .offer__data {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
}
.offer .offer__data h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 125%;
  color: #1A1A1A;
  display: inline;
}
.offer .offer__data form {
  margin-top: 40px;
  position: relative;
  display: inline-block;
}
.offer .offer__data form input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  padding: 20px 16px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  width: 465px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
}
.offer .offer__data form button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  position: absolute;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #4754EB;
  font-weight: 500;
  top: 8px;
  right: 8px;
}
.offer .offer__data p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #595959;
  font-size: 12px;
  margin-top: 16px;
  display: inline-block;
}
.offer .offer__data p a {
  color: #4754EB;
}
.offer .offer__pic {
  width: 50%;
}
.offer .offer__pic img {
  width: 100%;
}
.offer .btn__next {
  position: absolute;
  bottom: 80px;
  left: 63px;
}
.offer .btn__next p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  position: relative;
}
.offer .btn__next p::before {
  content: "";
  position: absolute;
  background: url(../img/Wheeldown.svg);
  background-repeat: no-repeat;
  height: 32px;
  width: 24px;
  top: -6px;
  left: -32px;
}

.advantage {
  padding: 80px 24px;
  background: #fff;
}
.advantage h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 56px;
}
.advantage .advantage__content {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.advantage .advantage__content .advantage__item {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  border-radius: 24px;
  border: 1px solid;
  border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.advantage .advantage__content .advantage__item .item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.5);
}
.advantage .advantage__content .advantage__item .item-head p {
  margin-left: 12px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: 24px;
  font-weight: 500;
}
.advantage .advantage__content .advantage__item .item-body {
  padding: 16px 24px 24px 24px;
}
.advantage .advantage__content .advantage__item .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-size: 18px;
}

.info-work {
  padding: 80px 56px;
}
.info-work h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 56px;
}
.info-work .info-work__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
.info-work .info-work__content .info-work__image {
  width: 49%;
}
.info-work .info-work__content .info-work__image img {
  width: 100%;
}
.info-work .info-work__content .info-work__block {
  -ms-flex-preferred-size: 470px;
      flex-basis: 470px;
}
.info-work .info-work__content .info-work__block .block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-work .info-work__content .info-work__block .block__item p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: 18px;
  position: relative;
}
.info-work .info-work__content .info-work__block .block__item p:not(:last-child) {
  margin-right: 56px;
}
.info-work .info-work__content .info-work__block .block__item p:first-child {
  color: #4754EB;
  font-weight: 500;
}
.info-work .info-work__content .info-work__block .block__item p:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  background: #fff;
  top: 12px;
  left: 120px;
}
.info-work .info-work__content .info-work__block h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-top: 30px;
}
.info-work .info-work__content .info-work__block .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  margin-top: 16px;
}
.info-work .info-work__content .info-work__block .item-body p:first-child {
  color: #4754EB;
  font-weight: 500;
  margin-bottom: 24px;
}
.info-work .info-work__content button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #4754EB;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #fff;
  margin-top: 56px;
}

.tarrifs {
  background: #fff;
}
.tarrifs .tarrifs__content {
  padding: 80px 0;
}
.tarrifs .tarrifs__content h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #1A1A1A;
  margin-left: 56px;
}
.tarrifs .tarrifs__content .tarrifs__info {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 324px));
  grid-gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item {
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
          box-shadow: 0px 4px 20px rgba(25, 25, 25, 0.05);
  border-radius: 24px;
  border: 1px solid;
  border-image-source: linear-gradient(243.82deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head {
  padding: 20px 24px;
  background: rgba(255, 255, 255, 0.5);
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-weight: 500;
  font-size: 24px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p:first-child {
  color: #1A1A1A;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-head p span {
  color: #4754EB;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body {
  padding: 24px 22px 0 72px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body p {
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;
  color: #808080;
  font-size: 18px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-body p:not(:last-child) {
  margin-bottom: 16px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-footer {
  padding: 24px 34px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .item-footer button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 24px;
  background: #fff;
  border-radius: 16px;
  font-weight: 500;
  padding: 16px 57.5px;
  color: #4754EB;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-one p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-two p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-three p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/uncheck.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p {
  position: relative;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:first-child:before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(2)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(3)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}
.tarrifs .tarrifs__content .tarrifs__info .tarrifs-item .img-four p:nth-child(4)::before {
  content: "";
  position: absolute;
  background: url(../img/check.svg) center center no-repeat;
  width: 32px;
  height: 32px;
  left: -48px;
  top: -1px;
}