/* @media screen and (max-width: 1062px) {
    .tarrifs__info {
        justify-content: space-evenly !important;
    }
} */

@media screen and (max-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .nav__items {
        display: none;
    }
    .logo {
        margin-left: 32px;
    }
    .hamburger-menu {
        display: block !important;
    }
    .hamburger {
        height: 53px !important;
    }
    .menu {
        top: 80px !important;
    }
    .offer-content {
        padding: 40px 32px !important;
    }
    .offer__pic {
        width: 95% !important;
        margin: auto;
    }
    .btn__next {
        display: none;
    }
    .advantage__content {
        grid-template-columns: 1fr !important;
    }
    .info-work__image {
        width: 90% !important;
    }
    .info-work__block {
        margin-top: 40px;
        flex-basis: 100% !important;
    }
    .tarrifs__info {
        justify-content: space-around !important;
    }
    .reviews-item {
        width: 100% !important;
    }
    .sale__pic {
        width: 90% !important;
        margin: auto;
    }
    .sale__data {
        margin-top: 50px;
    }
    .feedback-content {
        justify-content: start !important;
    }
    .feedback-form {
        flex-basis: 100% !important;
    }
    .feedback-form input {
        width: 100% !important;
    }
    .feedback-img {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .wrapper {
        background: url(../img/phone-bg.jpg) no-repeat;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .container {
        padding: 0 8px;
    }
    .header-content {
        padding: 12px !important;
    }
    .menu__btn {
        height: 25px !important;
    }
    .offer-content,
    .info-work-content,
    .reviews-content,
    .sale-content,
    .feedback-content {
        padding: 40px 12px !important;
    }
    .questions-content,
    .advantage-content,
    .tarrifs__content {
        padding: 40px 0 !important;
    }
    .footer-content {
        padding: 20px 12px !important;
    }
    h1,
    h4 {
        font-size: 36px !important;
    }
    h3 {
        font-size: 18px !important;
        margin-left: 20px !important;
    }
    p,
    input,
    button {
        font-size: 14px !important;
    }
    form {
        width: 100% !important;
    }
    /* header/offer screen */
    .logo a {
        font-size: 14px !important;
    }
    .header__user button {
        display: none;
    }
    .user-icon {
        display: block !important;
    }
    .offer__data {
        margin-bottom: 40px;
    }
    .offer__data form input {
        padding: 18px 16px !important;
    }
    .offer__data button {
        top: 8px !important;
        padding: 10.5px 24px !important;
    }
    .offer__data p {
        font-size: 12px !important;
    }
    .menuLink {
        font-size: 36px !important;
    }
    .hamburger {
        height: 35px !important;
    }
    .menu {
        top: 63px !important;
        padding: 40px 20px !important;
    }
    .menu li:first-child a {
        font-size: 18px !important;
    }
    .menu li:first-child {
        margin-bottom: 24px !important;
    }
    .menu li {
        margin-bottom: 16px;
    }
    /* advantage screen */
    .advantage__content {
        margin-top: 29px !important;
    }
    .advantage-content .item-head img {
        width: 36px;
        height: 45px;
    }
    .advantage-content .item-head p {
        font-size: 18px !important;
    }
    /* info-work screen */
    .info-work__image {
        width: 100% !important;
    }
    .info-work .info-work-content h3 {
        margin-left: 8px !important;
    }
    .info-work__block .block__item p {
        font-size: 14px !important;
    }
    .info-work__block .block__item p:not(:last-child) {
        margin-right: 32px !important;
    }
    .info-work__block .block__item p:not(:last-child)::after {
        width: 16px !important;
        top: 9px !important;
        left: 89px !important;
    }
    .info-work__content .info-work__block h4 {
        margin-top: 24px !important;
    }
    .info-work__block .item-body p:first-child {
        margin: 8px 0 16px 0 !important;
    }
    .info-work__content button {
        margin-top: 40px;
        width: 100%;
    }
    /* tarrifs screen */
    .tarrifs-item .item-head {
        padding: 15px 16px !important;
    }
    .tarrifs-item .item-footer {
        padding: 40px 16px 16px;
    }
    .tarrifs-item .item-footer button {
        width: 100% !important;
    }
    .tarrifs-item .item-head p {
        font-size: 18px !important;
    }
    /* reviews screen */
    .reviews .reviews-content h3 {
        margin-left: 8px !important;
    }
    /* sale screen */
    .sale__data form input {
        padding: 18px 16px !important;
    }
    .sale__data form button {
        top: 8px !important;
        padding: 10.5px 24px !important;
    }
    .sale__data p {
        font-size: 12px !important;
    }
    /* questions screen */
    .questions-accordion .accordion {
        padding: 15px 20px !important;
    }
    .questions-accordion .accordion button {
        font-size: 24px !important;
    }
    .questions-accordion .panel {
        padding: 0 9px !important;
    }
    /* feedback screen */
    .feedback-content .feedback-form h3 {
        font-size: 26px !important;
        margin-left: 0 !important;
    }
    .feedback-form form input {
        padding: 15px 16px 14px;
    }
    .feedback-form .form-footer button {
        padding: 14.5px 24px !important;
    }
    .feedback-form .form-footer p {
        font-size: 12px !important;
        margin-top: 16px;
    }
    .footer-content .content-right a p {
        display: none;
    }
}